.hide_on_scroll nav {
}
.home{
  background-image: url("bgim.jpg");
  position: relative;
  min-height:662px;;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* Bounce in Animation Start*/
.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Bound in animation Code End */
nav {
  margin-top:0px;
}
.hide_on_scroll nav{
  padding-left:50px;
}
.home nav a{
  color:white;
  margin-left:50px;
}
.dropdown-menu a{
  color:black;
}
.navcolor{
  color:white;
}
.home nav a{
  font-size: 17px;
}

.navbgcolor{
  background: linear-gradient(to right, #0066ff 0%, #99ccff 100%);
}
.transparent{
  background : rgba(255,255,255,0.5);
}
.row{
  width:100%;
  height:100%;
  align-items: center;
}
.col-lg-6 a{
  color:white;
}
.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
.contactform{
  background: linear-gradient(to top left, #ff9933 0%, #ff6600 100%);
  color: white;
  min-height:100px;
}
.contactform .row .col-sm-12 p{
  margin-top:5%;
  margin-left:25%;
}
.contactform .row .col-sm-12 form{
  margin-top:7%;
}
.btn-primary{
  margin-top:-5px;
  margin-left:5px;
  padding-top:0px;
  padding-bottom:0px;
}
.copyright{
  margin-top:15px;
  font-size:13px;
}
